.*
!.clj-kondo
.clj-kondo/*
!.clj-kondo/config.edn
!.cljfmt.edn
!.editorconfig
!.envrc
!.git-blame-ignore-revs
!.github
!.gitignore
!.keep
!.vscode

bricks
datalevin
result
target

/bases/web-ui/resources/public/js
