{:paths ["development"]
 :deps
 {poly/brick-db {:local/root "components/brick-db"}
  poly/brick-repo {:local/root "components/brick-repo"}
  poly/cfg {:local/root "components/cfg"}
  poly/datalevin {:local/root "components/datalevin"}
  poly/electric-jetty {:local/root "components/electric-jetty"}
  poly/github {:local/root "components/github"}
  poly/log {:local/root "components/log"}
  poly/nrepl {:local/root "components/nrepl"}
  poly/process {:local/root "components/process"}
  poly/sys {:local/root "components/sys"}
  poly/tech-ml-parquet {:local/root "components/tech-ml-parquet"}
  poly/ui-table {:local/root "components/ui-table"}
  poly/web-ui {:local/root "bases/web-ui"}}
 :aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.8.1173"},
                org.slf4j/slf4j-nop {:mvn/version "2.0.11"}},
         :main-opts ["-m" "antq.core"]},
  :build {:extra-deps {com.google.guava/guava {:mvn/version "31.0.1-jre"},
                       io.github.clojure/tools.build
                       {:exclusions [com.google.guava/guava],
                        :mvn/version "0.9.6"},
                       io.github.seancorfield/build-clj {:git/sha "9c9f078",
                                                         :git/tag "v0.9.2"},
                       thheller/shadow-cljs {:mvn/version "2.26.5"}},
          :extra-paths ["src-build"],
          :jvm-opts ["-Xss2m"],
          :ns-default build},
  :dev
  {:extra-deps
   {binaryage/devtools {:mvn/version "1.0.7"},
    com.google.guava/guava {:mvn/version "31.0.1-jre"},
    thheller/shadow-cljs {:mvn/version "2.26.5"}
    
    cfg/cfg {:local/root "config/dev"}},
   :jvm-opts ["-Xss2m" ; https://github.com/hyperfiddle/photon/issues/11
              "-XX:-OmitStackTraceInFastThrow" ;; RCF
              "--add-opens=java.base/java.nio=ALL-UNNAMED" ;; datalevin
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED" ;; datalevin
              ]},
  :poly {:extra-deps
         {polylith-kaocha.components/util
          {:deps/root "components/util",
           :git/sha "d1fcd40",
           :git/tag "v0.8.2",
           :git/url "https://github.com/imrekoszo/polylith-kaocha"},
          polylith-kaocha/kaocha-wrapper
          {:deps/root "projects/kaocha-wrapper",
           :git/sha "d1fcd40",
           :git/tag "v0.8.2",
           :git/url "https://github.com/imrekoszo/polylith-kaocha"},
          polylith-kaocha/test-runner
          {:deps/root "projects/test-runner",
           :git/sha "d1fcd40",
           :git/tag "v0.8.2",
           :git/url "https://github.com/imrekoszo/polylith-kaocha"},
          polylith/clj-poly
          {:deps/root "projects/poly",
           :git/url "https://github.com/polyfy/polylith.git",
           :sha "3edb530c618f072a95ed305b816cfcead22658f3"}},
         :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED" ;; datalevin
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED" ;; datalevin
                    ],
         :main-opts ["-m" "polylith.clj.core.poly-cli.core"]},
  :prod
  {:extra-deps
   {cfg/cfg {:local/root "config/prod"}}}
  :test {}}}
