;; https://github.com/polyfy/polylith/blob/master/doc/ws.md#settings
{:compact-views #{},
 :default-profile-name "default",
 :interface-ns "ifc",
 :projects {"biobricks-web" {:alias "bw"}, "development" {:alias "dev"}},
 :tag-patterns {:release "v[0-9]*", :stable "stable-*"},
 :test {:create-test-runner polylith-kaocha.test-runner/create},
 :top-namespace "biobricks",
 :vcs {:auto-add false, :name "git"}}
