{:deps
 {poly/brick-db {:local/root "../../components/brick-db"}
  poly/brick-repo {:local/root "../../components/brick-repo"}
  poly/datalevin {:local/root "../../components/datalevin"}
  poly/electric-jetty {:local/root "../../components/electric-jetty"}
  poly/github {:local/root "../../components/github"}
  poly/process {:local/root "../../components/process"}
  poly/sys {:local/root "../../components/sys"}
  poly/web-ui {:local/root "../../bases/web-ui"}}
 :aliases
 {:prod
  {:jvm-opts
   ["--add-opens=java.base/java.nio=ALL-UNNAMED" ;; datalevin
    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED" ;; datalevin
    ]}
  :test
  {:extra-deps
   {polylith/clj-poly
    {:deps/root "projects/poly"
     :git/url "https://github.com/polyfy/polylith.git"
     :sha "48d8a14d31a02cd2229d99bca094fe383d3dcace"}
    polylith-kaocha.components/util
    {:git/url "https://github.com/imrekoszo/polylith-kaocha"
     :git/tag "v0.8.2"
     :git/sha "d1fcd40"
     :deps/root "components/util"}
    polylith-kaocha/kaocha-wrapper
    {:git/url "https://github.com/imrekoszo/polylith-kaocha"
     :git/tag "v0.8.2"
     :git/sha "d1fcd40"
     :deps/root "projects/kaocha-wrapper"}
    polylith-kaocha/test-runner
    {:git/url "https://github.com/imrekoszo/polylith-kaocha"
     :git/tag "v0.8.2"
     :git/sha "d1fcd40"
     :deps/root "projects/test-runner"}}
   :jvm-opts
   ["--add-opens=java.base/java.nio=ALL-UNNAMED" ;; datalevin
    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED" ;; datalevin
    ]}}}
