{:paths ["src"]
 :deps
 {com.cognitect/transit-clj {:mvn/version "1.0.329"}
  datalevin/datalevin {:mvn/version "0.8.20"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {poly/sys {:local/root "../sys"}}}}}
