{:deps {com.hyperfiddle/electric {:mvn/version "v2-alpha-469-gb6d9865c"}
        com.hyperfiddle/heroicons-electric {:mvn/version "086c109"
                                            :exclusions [com.hyperfiddle/electric]}
        info.sunng/ring-jetty9-adapter {:exclusions [org.slf4j/slf4j-api
                                                     info.sunng/ring-jetty9-adapter-http3],
                                        :mvn/version "0.22.1"}}
 :paths ["src"]}
