{:deps {com.hyperfiddle/electric {:git/url "https://github.com/hyperfiddle/electric.git"
                                  :git/sha "030da63f5ea15be94d20dc4373a95cc601c61867"},
        com.hyperfiddle/heroicons-electric {:mvn/version "b07bd5a"
                                            :exclusions [com.hyperfiddle/electric]}
        info.sunng/ring-jetty9-adapter
          {:exclusions [org.slf4j/slf4j-api
                        info.sunng/ring-jetty9-adapter-http3],
           :mvn/version "0.22.1"}},
 :paths ["src"]}
