{:aliases {:test {:extra-paths ["test" "test-resources"]}},
 :deps {techascent/tech.ml.dataset {:mvn/version "7.007"},
        org.apache.parquet/parquet-hadoop
          {:exclusions [org.slf4j/slf4j-log4j12], :mvn/version "1.13.1"},
        org.apache.hadoop/hadoop-common {:mvn/version "3.3.6"},
        org.apache.hadoop/hadoop-mapreduce-client-core {:mvn/version "3.3.6"},
        ;; M-1 mac support for snappy
        org.xerial.snappy/snappy-java {:mvn/version "1.1.10.3"}},
 :paths ["src"]}
